.input:focus {
    box-shadow: 0 0 10px grey;
    border: 0 none #ffffff ;
}

.input {
    width: 372px;
    height: 36px;
    padding-left: 15px;
    box-shadow: 0 0 5px grey;
    border: 0 none #ffffff ;
}

.inputWrapper {
    display: flex;
    flex-direction: column-reverse;

}

.superInput {
}

.errorInput {
    border-width: 3px;

}

.errorInput:focus {

}

.error {
    color: red;
}
