.button {
    width: 150px;
    height: 50px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-transform: capitalize;
    border-radius: 7px;

    transition: all 0.2s;
}

.disabled {
    background: #004D99;
    opacity: 0.5;
    border-radius: 3px;
    color: #002E5C;
}

.secondary {
    width: 176px;
    height: 30px;
    border: 1px solid #0066CC;
    background-color: #FFFFFF;
    color: #0066CC;
}

.default {
    background: #0066CC;
    color: #FFFFFF;
}

.red {
    background: #CC1439;
    color: #FFFFFF;
}

.default:hover {
    box-shadow: 0 0 10px #0066CC;
    letter-spacing: 5px;
}

.red:hover {
    box-shadow: 0 0 10px #CC1439;
    letter-spacing: 5px;
}

.secondary:hover {
    box-shadow: 0 0 10px #CC1439;
    letter-spacing: 5px;
}


.default:active {
    font-size: 10px;
    box-shadow: 0 0 15px black inset;
}

.secondary:active {
    font-size: 10px;
    box-shadow: 0 0 15px black inset;
}

.red:active {
    font-size: 10px;
    box-shadow: 0 0 15px black inset;
}

.button:disabled {
}
